input[type=text] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
}
.hybridInput__wrapper {
    position: relative;
}
.currencySign {
    position: absolute;
    left: 78px;
    top: 10px;
}
.hybridInput__container {
    position: relative;
    margin-top: 10px;
}
.hybridInput__label {
    position: absolute;
    top: -6px;
    left: 15px;
    font-size: 0.7rem;
    background: #fff;
    padding: 0 5px;
    z-index: 1000;
}
.hybridInput__optional-line {
    height: 30px;
    width: 1px;
    background: var(--light-grey);
    margin-left: 20px;
}
.custom__dropdown {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-top: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: visible;
    overflow-x: hidden;
    z-index: 10000;
}
.select-currency-btn {
    background: transparent;
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    height: 40px;
    padding: 0 10px;
    justify-content: left;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
}
.option:last-child {
    border-bottom: none !important;
}

.hybridInput__wrapper {
    display: flex;

}


.hybridInput__custom-select, .hybridInput__textInput {
    border: none;
    background: #fff;
    padding: 10px 14px;
    box-sizing: border-box;
}
.hybridInput__container:hover .hybridInput__textInput {
    border: 1.2px solid var(--troperial-blue) !important;
}
.hybridInput__container:hover .hybridInput__custom-select {
    border-radius: 10px 0 0 10px;
    border-top: 1.2px solid var(--troperial-blue);
    border-bottom: 1.2px solid var(--troperial-blue);
    border-left: 1.2px solid var(--troperial-blue);
}

.hybridInput__textInput {
    border: 1.2px solid var(--light-grey);
    border-radius: 0px 10px 10px 0px;
    outline: transparent;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    width: 100%;
    padding: 10px 20px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
}

.hybridInput__textInput::-webkit-outer-spin-button,
.hybridInput__textInput::-webkit-inner-spin-button{
 -webkit-appearance: none;
margin:0;
}
.hybridInput__custom-select {
    border-radius: 10px 0 0 10px;
    border-top: 1.2px solid var(--light-grey);
    border-bottom: 1.2px solid var(--light-grey);
    border-left: 1.2px solid var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hybridInput__custom-select i {
  margin-left: 10px;
  color: var(--dark-grey);
}
