.handleBankAccountList_modal-bg {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 1000;
}
.closeBtn_bank-list {
    background: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
}
.closeBtn_container {
    text-align: right;
}
.handleBankAccountList-modal {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.active-bank {
    
    border-color: var(--troperial-green);
}
.bankList_button {
   cursor: pointer;
   border-width: 2px;
}
   
.bankList_button:hover{
   cursor: pointer;
   border: 2px solid var(--troperial-blue);
}
   

@media (min-width: 768px) {
    .handleBankAccountList_modal-bg {
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    .handleBankAccountList-modal {
        width: 25%;
        margin: 0 auto;
        max-height: 80vh;
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
    }
    .handleBankAccountList-modal::-webkit-scrollbar {
        width: 12px;
      }
      .handleBankAccountList-modal::-webkit-scrollbar-track {
        background: var(--light-grey);
        border-radius: 10px;
        
      }
      .handleBankAccountList-modal::-webkit-scrollbar-thumb {
        background-color: var(--dark-grey);
        border-radius: 20px;
        border: 3px solid var(--light-grey);
      }
}

@media (min-width:1110px) {
    .handleBankAccountList_modal-bg {
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
        display: flex;  
        justify-content: center;
        align-items: center;
    }

}