.app__container {
	overflow-x: hidden;
	background: #fff;
}
.maxHeight {
	height: 100vh;
	overflow-y: hidden;
}
.minHeight {
	min-height: 100vh;
}
@media (min-width: 768px) {
	.app__container {
		background: var(--troperial-dim-blue);
	}
}
