.listingsCustom__container {
	width: 100%;
	margin: 0 auto;
	padding-top: 45px;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
.scrolling-wrapper .react-tabs {
	margin-top: 6px;
	-webkit-tap-highlight-color: transparent;
}

/* Account Section Style */
.profile_container {
	margin-top: 30px;
}
.profile_container .headers {
	margin-top: 30px;
}
.headers .profile__input-data-paragraph {
	width: 90%;
	color: var(--dark-grey);
	line-height: 1.6;
	font-size: 1rem;
}
.user-avatar-container .user-avatar {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 3px solid var(--light-grey);
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
}

/* History styles */
.conversations_started {
	color:  var(--warning-yellow);
}
.transactions_completed {
	color: var(--troperial-green);
}
.stats-item {
	border: 1px solid var(--light-grey);
	padding: 10px 10px;
	border-radius: 10px;
	margin: 20px 0;
}
.stats-item .stats-figure  {
	font-size: 1.8rem;
	font-weight: bold;
}
.stats-item .stats-title {
	margin: 0 8px;
}
@media (min-width: 768px) {
	.card_grids {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 20px;
		grid-auto-flow: dense;
		/* force height hack */
		align-items: start;
	} 
	.listingsCustom__container {
		width: 95%;
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 0px 22px;
		padding-top: 95px;

	}

	/* History styles */
	.stats {
		margin-top: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 20px;
	}
	.stats-item {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 30px;
		padding: 0px 0px;
		min-height: 50px;
		padding: 18px 10px;
	}
	.stats-item .stats-figure  {
		font-size: 2.3rem;
	}
	.stats-item .stats-title {
		margin: 0 0;
		grid-row: 1;
	}
	.history_container {
		padding-bottom: 50px;
	}
}

@media (min-width: 1110px) {
	.listingsCustom__container {
		grid-template-columns: 1fr 4.5fr;
	}
	.profile_container .headers {
		margin-top: 10px;
	}
	.headers .profile__input-data-heading {
		font-size: 1.05rem;
	}
	.headers .profile__input-data-paragraph {
		width: 100%;
	}
	.profile_container {
		width: 70%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 30px;
		padding-bottom: 100px;
	}
	.input-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 10px;
	}
	.save-changes_btn {
		margin-top: 30px;
	}
}