.fouthSection {
    width: 90%;
    margin: 50px auto;
}
.fouthSection .heading {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.03
}
.fouthSection .grid {
    margin: 50px 0;
}
.fouthSection .grid .grid-item  {
    margin-top: 50px;
    margin-bottom: 10px;
}
.fouthSection .grid .grid-item img{
 width: 30px
}
.fouthSection .grid .grid-item h1{
    font-size: 24px;
    line-height: 32px;
 margin: 5px 0;

}
.fouthSection .grid .grid-item p{
font-size: 16px;
line-height: 30px;

}

@media (min-width: 800px) {
    .fouthSection {
        padding: 20px 0 20px 0;
        width: 50%;
        margin: 50px auto;
    }
    .fouthSection h1.heading {
        text-align: center;
        font-size: 36px;
line-height: 42px;
    }
    .fouthSection .grid {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px 50px;
    }
    .fouthSection .grid .grid-item h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .fouthSection .grid .grid-item p{
        font-size: 20px;
        line-height: 30px;
    
    }
}