.listing-card {
  width: 100%;
  border: 2px solid var(--troperial-blue);
  padding: 10px;
  border-radius: 10px;
  animation: anit 1s linear 0s 1 normal forwards;
  box-sizing: border-box;
}
.listing-card .have-block,
.listing-card .need-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listing-card .have-block .label,
.listing-card .need-block .label,
.preferred-rate .label,
.preferred-rate .by {
  color: var(--dark-grey);
  font-size: 1.1rem;
}
.listing-card-horizontal-line {
  height: 1px;
  width: 100%;
  background: var(--light-grey);
  margin: 10px 0;
}
.preferred-rate .username {
  color: var(--troperial-blue) !important;
}
@media (min-width: 900px) {
  .listing-card {
    width: 40%;
  }
}
@keyframes anit {
  from {
    opacity: 0;
    margin-left: 50%;
  }
  to {
    opacity: 1;
    margin-left: initial;
  }
}
