.remark__section {
	background: var(--mobile-verfied);
	text-align: center;
	padding: 50px 0;
}
.platform-svg {
	display: none;
}
.speech {
	width: 50px;
}
.largeScreen-remark-heading {
	display: none;
}
.smallScreen-remark-heading {
	font-size: 1.3rem;
}
.user_testimony_container p {
	padding: 0 20px;
}

.user_name img {
	width: 20px;
}
@media (min-width: 768px) {
	.remark__section {
		position: relative;
		display: flex;
		justify-content: space-between;
		text-align: left;
		padding: 50px 10%;
		margin-top: 200px;
		max-height: 40vh;
	}
	.platform-svg {
		position: relative;
		display: block;
		right: 0;
		top: -200px;
	}
	.largeScreen-remark-heading {
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		display: block;
	}
	.users_testimony {
		display: flex;
		width: 700px;
	}
	.user_testimony_container p {
		font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
	}
	.users_testimony_speech_bubble .speech {
		width: 150px;
		margin-right: 20px;
	}

	.user_name img {
		width: 20px;
	}

	.smallScreen-remark-heading {
		display: none;
	}
}
