.chat-grid-container {
 display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;
 overflow-y: hidden;
 -webkit-overflow-scrolling: touch;
}
.chat-main-container {
    background: red;
    width: 100%;
    height: 100vh;
    overflow-y: hidden !important;
}
.chat-grid-container::-webkit-scrollbar, .chat-main-container::-webkit-scrollbar {
	display: none !important;
}

@media (min-width: 900px) {
    .chat-main-container {
        background: var(--troperial-dim-blue);
        padding-top: 0px;
    }
    .chat-grid-container {
        border-radius: 10px;
        background: #fff;
        width: 95%;
        height: 85vh;
        margin: 90px auto 0 auto;
        display: grid;
        grid-template-columns: 20% 55% 25%;
    }
    
}