
.hideOnMobile {
     display: none;
}
.navbarContainer {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    background: transparent;
}
.hamburger {
    margin-top: 15px;
    font-size: 1.2rem;
}
.navbarContainer img {
 margin: 15px 0 0 0;
 width: 100px;
}
.navbarContainer i {
    font-size: 1.55rem;
    margin: 10px 0 0 0;
    color: var(--Gray);
}
.mobileNav {
    width: 90%;
    margin: 10px auto;
    border-radius: 12px;
    background: transparent;
}
.mobileNav .mobileNavContainer {
    text-align: center;
}

.mobile_screen-horizonal-line {
	width: 90%;
	height: 1px;
	background: var(--light-grey);
	margin: 10px auto;
}
.home-hamburger-icon{
    mask: url('../../assets/svgs/hamburger-bars.svg');
    display: inline-block;
	width: 30px;
	height: 30px;
	background: #000;
	mask-size: cover;
	position: relative;
    top: 10px;

}
.mobileNav .mobileNavContainer .home-link{
    font-family: GT Walsheim;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #000;
    display: block;
	padding: 15px 0;
	text-decoration: none;
    width: 100%;
}
.home-active-link{
	color: var(--troperial-blue) !important;
	background: var(--troperial-banner-blue);
}
.home-sign-up{
  text-decoration: none;
  color: #fff;
}
.sign-up_btn {
    font-family: GT Walsheim;
    background: var(--troperial-blue);
	color: #fff;
	border: none;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 10px;
	width: 90%;
	margin: 20px auto;
}
/* Desktop Styles */
@media (min-width: 850px) {
    .home-hamburger-icon{
        display: none;
    }
    .navbarContainer {
        width: 80%;
    }
    .navbar .navbarContainer * {
        margin: 0;
        padding: 0;
    }
    .navbar .navbarContainer{
    padding-top: 30px;
        box-sizing: border-box;
    }
    .navbarContainer .mainLinks, .authLinks{
        list-style-type: none;
    }
    .navbarContainer .mainLinks li, .authLinks li{
        display: inline;
        margin: 0 20px;
    }
    .navbarContainer .mainLinks li .link, .authLinks li .link{
        text-decoration: none;
        text-transform: capitalize;
        font-family: GT Walsheim;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        transition: 0.6s ease 0s;
        color: #000
    }
    .navbarContainer .mainLinks li .link:hover, .authLinks li .link:hover{
        color: var(--troperial-blue);
    }
    .hideOnMobile {
        display: block;
    }
    .hamburger{
        display: none;
    }
    .mobileNav {
        display: none;
    }
    .sign-up-link {
        margin-left: 10px !important;
    }
    .signUpDesktop {
        font-family: GT Walsheim;
        margin: 0;
        background: var(--troperial-blue);
        color: #fff;
        border: none;
        text-transform: capitalize;
        padding: 8px 15px !important;
        border-radius: 8px;
        transition: 0.5s ease-in-out;
    }
    .signUpDesktop:hover {
        cursor: pointer;
        background: rgb(3, 117, 211);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }

}


