nav.navigationBar {
	width: 100%;
	position: fixed;
	z-index: 1;
}
.navigation-logout-btn {
	background: var(--troperial-blue);
	color: #fff;
	border: none;
	font-size: 1.1rem;
	padding: 10px 15px;
	border-radius: 10px;
	width: 90%;
	margin: 20px auto;
}
.small_screen-horizonal-line {
	width: 90%;
	height: 1px;
	background: var(--light-grey);
	margin: 0 auto;
}
.icon-messages {
	mask: url('../../assets/svgs/chat-svg.svg');
}
.icon-listings {
	mask: url('../../assets/svgs/layout-horizontal-svg.svg');
}
.icon-notifications {
	mask: url('../../assets/svgs/notifications-svg.svg');
}
.icon-profile {
	mask: url('../../assets/svgs/profile-page-svg.svg');
}
.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: var(--dark-grey);
	mask-size: cover;
	position: relative;
	top: 4px;
}
.largeScreen__container {
	display: none;
}
.smallScreen__container,
.smallScreen__shield {
	height: 45px;
}
.smallScreen__shield {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 10px;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
	background: #fff;
}
.smallScreen-logoContainer button {
	border: none;
	outline: none;
	background: transparent;
}
.smallScreen-logoContainer button i {
	font-size: 16px;
}
.smallScreen__profile {
	width: 22px;
	height: 22px;
	border-radius: 100%;
	margin: 5px 5px 0 5px;
	padding: 0;
	border: solid 3px var(--light-grey);
}
.smallScreen__pageTitle .title {
	color: var(--troperial-blue);
}
.smallScreen__pageTitle .title .icon {
	background: var(--troperial-blue);
}
.smallScreen___linkContainer {
	width: inherit;
	text-align: center;
	background: #fff;
	width: 90%;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.smallScreen___linkContainer .nav-link {
	display: block;
	padding: 20px 0;
	text-decoration: none;
	font-weight: bold;
	color: var(--dark-grey);
}
.is-active {
	color: var(--troperial-blue) !important;
	background: var(--troperial-banner-blue);
}
@media screen and (min-width: 1000px) {
	.smallScreen__container {
		display: none;
	}
	nav.navigationBar {
		margin-top: 20px;
		z-index: initial;
	}
	.largeScreen__container {
		width: 95%;
		box-sizing: border-box;
		height: 50px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: inherit;
		padding: 0 50px;
		border-radius: 15px;
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.largeScreen__logo {
		width: 100px;
	}
	.largeScreen-links .nav-link {
		text-decoration: none;
		margin: 0 30px;
		color: var(--dark-grey);
		text-transform: capitalize;
		height: 100vh;
		padding-bottom: 11px;
	}
	.icon {
		width: 20px;
		height: 20px;
	}
	.is-active {
		border-bottom: solid 4px var(--troperial-blue);
		color: var(--troperial-blue) !important;
		background: transparent;
	}
	.largeScreen-links .nav-link:hover {
		border-bottom: solid 4px var(--troperial-blue);
		color: var(--troperial-blue);
	}
	.largeScreen-links .nav-link:hover .icon {
		background: var(--troperial-blue);
	}
	.is-active .icon {
		background: var(--troperial-blue);
	}
	.profile-container {
		position: relative;
	}
	.border {
		display: none;
		position: absolute;
		bottom: -11px;
		width: 100px;
		height: 3px;
		background: var(--troperial-blue);
	}
	.profile_nav-link {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--dark-grey);
	}
	.largeScreen__profile {
		width: 22px;
		height: 22px;
		border-radius: 100%;
		margin: 5px 5px 0 5px;
		padding: 0;
		border: solid 2px var(--light-grey);
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
	}
	.profile_nav-link:hover + .border {
		display: block;
	}
	.profile-is-active + .border {
		display: block;
	}
}
