.hero__container {
	width: 90%;
	margin: 0 auto;
	height: 50vh;
	position: relative;
	z-index: 1000000;
}
.hero__container .intro {
	text-align: center;
	margin-top: 30px;
}
.hero__container .intro h1 {
	font-size: 1.9rem;
	padding: 0;
	margin: 0;
}
.hero__container .intro p {
	font-size: 1.1rem;
	padding: 0;
	margin: 10px 0;
	line-height: 1.6;
	color: var(--dark-grey);
}
.troperial-green {
	color: var(--troperial-green);
}
.home-money-icon {
	width: 30px;
	margin-bottom: -8px;
}
.home-trade-section-container {
	position: relative;
	margin-top: 30px;
}
.home-trade-section-container .home-dotted-bg {
	display: none;
}
.post-trade {
	margin: 0 auto;
	width: 90%;
	min-height: 400px;
	background: #fff;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*************** DETAILS SECTION STYLES *************/
.desktop-group {
	display: none;
}
.details-section {
	position: relative;
	z-index: -1;
	background: var(--troperial-dim-blue);
	padding: 400px 5% 10% 5%;
}
.mobile-group {
	display: flex;
	flex-direction: column;
}
.exchange-troperial-logo {
	width: 180px;
	align-self: flex-end;
}
.chat-user {
	width: 50px;
}
.mobile-group-card-1,
.mobile-group-card-2 {
	position: relative;
	background: #fff;
	width: 50%;
	padding: 10px;
	margin: 12% 0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bypass {
	position: absolute;
	height: 90%;
}
.bypass-2 {
	top: 44%;
	left: 94%;
}
.bypass-1 {
	bottom: 42%;
	left: 94%;
}
.mobile-group-card-2 {
	align-self: center;
}
.details-section .header h1 {
	width: 80%;
	margin-bottom: 0;
}
.details-section .header p {
	color: var(--dark-grey);
	font-size: 1.09rem;
	line-height: 1.6;
	width: 85%;
}
.details-section .header .learn__more {
	color: var(--troperial-blue);
	text-decoration: none;
	font-size: 1rem;
}
.info-grid .grid p {
	color: var(--dark-grey);
	font-size: 1.09rem;
	line-height: 1.6;
	width: 85%;
}
/*************** END OF DETAILS SECTION STYLES *************/


/* CONVINCE USERS SECTION */
.convince-visitor-section {
	padding: 20px 0px 50px 0;
}
.convince-visitor-section .convice-visitor-header {
	padding: 0 5% 20px 5%;
}
.convince-visitor-section .convice-visitor-header h1 {
	width: 80%;
	margin-bottom: 0;

}
.convince-visitor-section .convice-visitor-header p {
	color: var(--dark-grey);
	font-size: 1.09rem;
	line-height: 1.6;
	width: 85%;
}
.horizonal-scrolling-div {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0 10px;
}
.horizonal-scrolling-div::-webkit-scrollbar {
	display: none;
}
.horizonal-scrolling-div .comment {
	flex: 0 0 auto;
	width: 70%;
	margin: 0 10px;
	height: 300px;
	border-radius: 10px;
	padding: 20px;
	font-size: 1.2rem;
}
.horizonal-scrolling-div .first-comment {
	background: var(--light-grey);
	color: #000;
}
.horizonal-scrolling-div .second-comment {
	background: var(--troperial-blue);
	color: #fff;
}
.horizonal-scrolling-div .third-comment {
	background: var(--troperial-green);
	color: #000;
}
/* convincing */
.convince-user-to-get-started {
	box-sizing: border-box;
	width: 90%;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 100px;
}
.convince-user-to-get-started .get-started-header {
	text-align: center;
	margin: 10% 0;
}
.convince-user-to-get-started .get-started-header p {
	font-size: 1.1rem;
}
.convince-user-to-get-started .get-started-header .get-started-btn {
	text-decoration: none;
	font-size: 1.1rem;
	color: #fff;
	background: var(--troperial-blue);
	padding: 5px 20px;
	border-radius: 10px;
	margin-top: 10px;
}
.convince-user-to-get-started .get-started-header .get-started-btn {
	text-decoration: none;
	font-size: 1rem;
	color: #fff;
	background: var(--troperial-blue);
	padding: 10px;
	border-radius: 10px;
}

.convince-plaform-interface-container {
	position: relative;
}
.convince-plaform-interface-container .convince-plaform-interface-dotted-bg {
	position: absolute;
	z-index: -1;
	bottom: -30px;
	left: -5px;
	width: 90%;
	height: 200px;
	background-color: transparent;
	fill: rgb(8, 215, 97);
	background-size: 120px 120px;
	background-repeat: repeat;
	background-position: left bottom;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgb(8, 215, 97)} %3C/style%3E%3Ccircle class='st0' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='336.6' r='12.7'/%3E%3Cg%3E%3Ccircle class='st0' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='419.5' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='500.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='170.9' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='253.8' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='88' r='12.7'/%3E%3C/g%3E%3C/svg%3E");
}

.convince-plaform-interface-container .platform-inteface {
	height: 300px;
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
	background: var(--troperial-dim-blue);
	position: relative;
}
.convo-card .user-2 {
	width: 20px;
}
.convo-card .user-1 {
	width: 40px;
}
.convo-card {
	display: flex;
	justify-content: space-between;
	background: #fff;
	width: 70px;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	left: 80%;
	top: 65%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* User remarks styles */
.user-remarks {
	background: #bdf6de;
	padding: 0 10%;
	width: 100%;
	box-sizing: border-box;
}
.user-remark {
	text-align: center;
}
.remark-flex-container .remark-icon {
	width: 70px;
}
.review-container p {
	font-size: 1.2rem;
}
.remark-header-desktop {
	display: none;
}
.user-info-container {
	width: 30%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-info-container .user-image {
	width: 30px;
}
.user-remark-plaform-component {
	position: relative;
	top: 0;
}
.user-remark-plaform-component .dotted-bg,
.user-remark-plaform-component .empty-plaform-container {
	height: 300px;
}
.user-remark-plaform-component .empty-plaform-container {
	/* background: var(--troperial-dim-blue); */
	border-radius: 10px;
}
.user-remark-plaform-component .dotted-bg {
	position: absolute;
	background-color: transparent;
	fill: rgb(8, 215, 97);
	background-size: 120px 120px;
	background-repeat: repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgb(8, 215, 97)} %3C/style%3E%3Ccircle class='st0' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='336.6' r='12.7'/%3E%3Cg%3E%3Ccircle class='st0' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='419.5' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='500.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='170.9' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='253.8' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='88' r='12.7'/%3E%3C/g%3E%3C/svg%3E");
}

@media (min-width: 500px) {
	.mobile-group {
		display: none;
	}
	.desktop-group {
		display: block;
		width: 100%;
	}
}
@media (min-width: 768px) {
	.hero__container {
		width: 80%;
		display: grid;
		height: 65vh;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px 10px;
		padding-top: 30px;
	}
	.hero__container .intro {
		margin-top: 80px;
		text-align: left;
	}
	.hero__container .intro h1 {
		font-size: 2.9rem;
	}
	.hero__container .intro p {
		font-size: 1.2rem;
	}
	.home-trade-section-container {
		position: relative;
	}
	.home-trade-section-container .home-dotted-bg {
		display: block;
		margin: 0 auto;
		width: 80%;
		height: 400px;
		position: absolute;
		top: 30%;
		right: 20%;
		z-index: -1;
		background-color: transparent;
		fill: rgb(8, 215, 97);
		background-size: 120px 120px;
		background-repeat: repeat;
		background-position: bottom left;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgb(8, 215, 97)} %3C/style%3E%3Ccircle class='st0' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='336.6' r='12.7'/%3E%3Cg%3E%3Ccircle class='st0' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='419.5' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='500.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='170.9' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='253.8' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='88' r='12.7'/%3E%3C/g%3E%3C/svg%3E");
	}
	.post-trade {
		width: 80%;
	}
	.details-section {
		background: var(--troperial-dim-blue);
		padding: 100px 10% 10% 10%;
	}
	.convince-visitor-section .convice-visitor-header {
		padding: 50px 0;
	}
	.convince-visitor-section .convice-visitor-header h1 {
		width: auto;
		text-align: center;
		margin-bottom: 0;
		/* padding: 0 5%; */
	}
	.convince-visitor-section .convice-visitor-header p {
		color: var(--dark-grey);
		font-size: 1.0rem;
		line-height: 1.6;
		width: auto;
		text-align: center;
		padding: 0 5%;
	}
	.horizonal-scrolling-div {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
	.horizonal-scrolling-div .comment {
		box-sizing: border-box;
		width: 100%;
		margin: 0 0px;
		height: 300px;
	}
	/* details */
	.details-section .header {
		text-align: center;
		padding: 50px 0;
	}
	.details-section .header h1 {
		width: 30%;
		margin: 0 auto;
		font-size: 1.8rem;
	}
	.details-section .header p {
		font-size: 1rem;
		width: 35%;
		margin: 10px auto;
	}
	.details-section .header .learn__more {
		font-size: 1.2rem;
	}
	.info-grid .grid h1 {
		font-size: 1.5rem;
		width: 100%;
	}

	.info-grid .grid p {
		font-size: 1.2rem;
		width: 100%;
	}
	.info-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 100px;
	}
	.info-grid .grid {
		text-align: center;
	}

	.convince-user-to-get-started {
		padding: 100px 0;
		width: 50%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}

	.convince-plaform-interface-container {
		grid-row: 1;
	}
	.convince-plaform-interface-container .convince-plaform-interface-dotted-bg {
		bottom: -30px;
		left: -30px;
		width: 90%;
		height: 200px;
		background-color: transparent;
	}
	.convince-plaform-interface-container .platform-inteface {
		height: 300px;
		width: 100%;
	}

	.convince-user-to-get-started .get-started-header {
		text-align: left;
		margin: 0 0;
	}

	.convince-user-to-get-started .get-started-header h1 {
		margin-bottom: 0;
	}
	.convince-user-to-get-started .get-started-header p {
		margin: 5px 0;
	}
	.convince-user-to-get-started .get-started-header .get-started-btn {
		text-decoration: none;
		font-size: 1.1rem;
		color: #fff;
		background: var(--troperial-blue);
		padding: 5px 20px;
		border-radius: 10px;
		margin-top: 10px;
	}
}
