input[type=text], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.customInputContainer__input-group input {
  display: block;
  width: 100%;
  padding: 14px 14px;
  box-sizing: border-box;
  margin: 18px 0;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  font-size: medium;
  outline: none;
  color: var(--dark-grey);
  border: 1.6px solid var(--light-grey);
}
.customInputContainer__input-group input:focus,
.customInputContainer__input-group input:hover {
  border-color: var(--troperial-blue);
  transition: 0.5s ease-in;
}
.customInputContainer__input-group input:focus::placeholder {
  color: transparent;
}
.customInputContainer__input-group {
  position: relative;
}
.customInputContainer__input-group .custom-label {
  display: none;
  position: absolute;
  font-size: 0.7rem;
  background-color: #fff;
  padding: 0 5px;
  top: -6px;
  left: 15px;
  color: var(--dark-grey);
  border-radius: 5px;
}
.customInputContainer__input-group:focus-within .custom-label {
  display: block;
}
.customInputContainer__input-group input.error {
  border-color: var(--error-color);
}
.customInputContainer__input-hint {
  display: none;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--dark-grey);
  padding-bottom: 5px;
}
.customInputContainer__input-group:focus-within
  .customInputContainer__input-hint {
  display: block;
}
@media  (min-width: 768px) {
  .customInputContainer__input-group input {
    padding: 15px 15px;
    border: 1.8px solid var(--light-grey);
  }
}