
.newsCard .thumbnail-image {
    width: 100%;
}
.newsCard .card-content{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  padding: 0 15px;
}

@media (min-width: 641px) {
  .newsCard .card-content{
    font-size: 20px;
  }
  
 }